{% extends "base.html" %}
{% load rest_framework %}
{% load static %}
{% block page_content %}


<link rel="stylesheet" href="{% static 'manage.css' %}">


<h1>Manage card</h1>

<form action="{% url 'detail' word.id %}" method="post">
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/vertical' %}
    <br>
    <input type="submit" value="Save">
</form>

<form action="{% url 'delete' word.id %}" method="post">
    {% csrf_token %}
    <button type="submit" value="Remove" class="btn-link">Delete</button>
</form>


{% endblock %}