{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" href="{% static 'manage.css' %}">
<h1 style="text-align: center;">Manage cards</h1>
    <table>
          <tr>
            <th>Active</th>
            <th>Original</th>
            <th>Translation</th>
          </tr>
        {% for card in cards %}
          <tr>
            <td><form action="">
                <input type="checkbox" style="transform: scale(1.25);" id="active-{{card.id}}" checked=true>
            </td>
            <td>{{card.original}}</td>
            <td>{{card.translation}}</td>
          {% endfor %}
        </table>


{% endblock %}