h1 {
  text-align: center;
  padding: 50px;
}

.deck * {
    box-sizing: border-box;
    text-decoration: none;
    line-height: 200px;

}

.deck {
    margin-top: -100px
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-bottom: 100px;

}

.card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 300px;
    height: 200px;
    border-radius: 40px;
    background: #87CEFA;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

[id^='Original-'], [id^='Translation-'] {
    font-size: 20px;
    position: absolute;
    text-align: center;
}

[id^='Original-'] {
    width: 300px;
    height: 200px;
    line-height: 200px;
}

[id^='Translation-'] {
    display: none;
    width: 300px;
    height: 200px;
    line-height: 200px;
}



