h1 {
  text-align: center;
  padding: 50px;
}

.deck * {
    box-sizing: border-box;
    text-decoration: none;
}

.deck {
    margin-top: -100px
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.btn-del, .btn-del:hover, .btn-del:focus, .btn-del:active {
    text-decoration: none;
    color: inherit;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-bottom: 100px;

}

.card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 300px;
    height: 200px;
    border-radius: 40px;
    background: #87CEFA;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.btn-del {
  margin-right: 35px;
  margin-top: 8px;
  margin-left: auto;
  background-color: Transparent;
  border: none;
  color: red;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
  border-radius: 40px;
  width: 1%;
  height: 1px;
  cursor: pointer;
}
