h1 {
  text-align: center;
}

table, th, td {

  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  background: #87CEFA;
  white-space: nowrap;
  border: 1px solid #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #4169E1;
}

.clickable-row:hover {
  outline: 2px solid #4169E1;
  cursor: pointer;
}
