{% extends "base.html" %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" href="{% static 'home.css' %}">

<div class="home"><br>
    <h1>Hi, my name is Michał.</h1>
    <h2>Welcome to my flashcards web app.</h2>
    <h3 style="font-weight:normal;">I created it with Django REST framework, Python.</h3>
    <h3 style="font-weight:normal;">For testing purposes please use this credentials to login:</h3>
    <ul>
        <li>Login : "test_user"</li>
        <li>Password : "test_pass"</li>
    </ul>
</div>

{% endblock %}